table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  background-color: #057662;
  color: white;
}

.warna-hijau {
  background-color: #057662;
}

.tableHeader .number,
.tdLifestyle,
.tdKepatuhan {
  padding: 0 8px;
}
table tr {
  border-bottom: 1px solid #dbdbdb;
}
table tr.tableHeader {
  border-bottom: 0;
}
th {
  padding: 16px 0;
}
table th:first-child {
  border-radius: 5px 0 0 5px;
}

table th:last-child {
  border-radius: 0 5px 5px 0;
}
.textCenter {
  text-align: center;
}
.tdAksi {
  width: fit-content;
}
.tdLifestyle,
.tdKepatuhan {
  width: 1%;
}
table tr td {
  padding-top: 16px;
  padding-bottom: 16px;
}

.btn {
  color: white;
  font-weight: bold;
}
.btn-detail {
  background-color: #8beaff;
}

.table-dashboard {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 2px 2px 15px, rgba(0, 0, 0, 0.76);
  padding: 10px;
}

/* Form search  */
.btn-primary-blue {
  background-color: #26d7ff;
}
.btn-primary-blue:hover {
  background-color: #00bee9;
  color: white;
}
.form-search {
  background-color: #fafafa;
  max-width: 300px;
}
.btn-warna-orange {
  background-color: orange;
}
.btn-warna-orange:hover {
  background-color: rgb(238, 143, 0);
  color: white;
}
body {
  background-color: #eff3f8;
}
.header-dashboard h5,
.header-dashboard h5 a {
  color: #747474;
  text-decoration: none;
}
.header-dashboard h5 a:hover {
  color: #3b3b3b;
}
.judul-kirim-pesan {
  border-bottom: 1px solid orange;
  text-align: center;
}
@media (max-width: 442px) {
  .space-mobile {
    height: 50px;
  }
}
