table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  background-color: #057662;
  color: white;
}
.tableHeader .number,
.tdLifestyle,
.tdKepatuhan {
  padding: 0 8px;
}
table tr {
  border-bottom: 1px solid #dbdbdb;
}
table tr.tableHeader {
  border-bottom: 0;
}
th {
  padding: 16px 0;
}
table th:first-child {
  border-radius: 5px 0 0 5px;
}

table th:last-child {
  border-radius: 0 5px 5px 0;
}
.textCenter {
  text-align: center;
}
.tdAksi {
  width: fit-content;
}
.tdLifestyle,
.tdKepatuhan {
  width: 1%;
}
table tr td {
  padding-top: 16px;
  padding-bottom: 16px;
}

.btn {
  color: white;
  font-weight: bold;
}
.btn-detail {
  background-color: #8beaff;
}

.btn-edit {
  background-color: #00d8b1;
}

.btn-hapus {
  background-color: #ff2727;
}
.table-dashboard {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 2px 2px 15px, rgba(0, 0, 0, 0.76);
  padding: 10px;
}

/* Form search  */
.btn-search {
  background-color: #8beaff;
}
.form-search {
  background-color: #fafafa;
  max-width: 300px;
}
.btn-kirim-pesan {
  background-color: hsl(169, 92%, 24%);
}
body {
  background-color: #eff3f8;
}
.header-dashboard h5 {
  color: #747474;
}
