.jumlah-pertanyaan {
  font-size: 56px;
  text-align: center;
}
.img-card-lifestyle,
.img-card-kepatuhan {
  height: 100px;
  margin-bottom: 4%;
}
.judul-konten-edukasi {
  color: #747474;
}
.btn-tambah-konten {
  background-color: orange;
  color: white;
  float: right;
}
.btn-tambah-konten:hover {
  background-color: rgb(206, 110, 0);
  color: white;
}
.form-kuesioner {
  border-bottom: 2px solid #009277 !important;
}
.card-kuesioner {
  border-left: 5px solid #17a2b8;
}
